.saved__moviePoster, .saved__musicAlbum {
  width: 100%;
  box-shadow: 0px 4px 25px rgba(92, 102, 131, 0.4);
  border-radius: 10px;
}

/* .saved__moviePoster:hover {
  z-index: 1000;
  width: 200%;
  position: absolute
} */

.saved__movies--header, .saved__music--header {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  font-size: 160%;
  margin-bottom: 2%;
}

.saved__music--header {
  margin-top: 16%;
}

.saved__loading--container {
  text-align: center;
}

.saved__movie:hover .remove {
  display: block;
}

.remove {
	padding-right: 18px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.remove:hover {
  cursor: pointer;
}

.saved__music:hover .remove {
  display: block;
}