.saved__moviePoster, .saved__musicAlbum {
  width: 100%;
  box-shadow: 0px 4px 25px rgba(92, 102, 131, 0.4);
  border-radius: 10px;
  margin-bottom: 16px;
}

.saved__empty {
  text-align: center;
  font-family: "Asap", sans-serif;
  font-weight: 700;
  padding-top: 30%;
}

.saved__movies--header, .saved__music--header {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  font-size: 160%;
  margin-bottom: 2%;
}

.saved__music--header {
  margin-top: 16%;
}

.saved__loading--container {
  text-align: center;
}

.saved__movie:hover .remove {
  display: block;
}

.remove {
  padding-right: 5px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.remove:hover {
  cursor: pointer;
}

.saved__music:hover .remove {
  display: block;
}

.saved__container {
  padding-bottom: 32px;
}