.messageList_wrapper {
  display: table-cell;
  vertical-align: bottom;
  height: 90vh;
  width: 75vw;
}


.messageList__container {
  max-height: 90vh;
  overflow: auto;
  width: 100%;
  margin-bottom: -20px;
}

.messageList__box {
  margin-right: 8%;
}

.messageList__loading {
  text-align: center;
}

.messageList__spinner {
  width: 10%;
}