.music__container {
  margin: 0 auto;
  text-align: left;
}

.music__albumArt--container {
  text-align: center;
}

.music__albumArt {
  width: 100%;
  box-shadow: 0px 4px 25px rgba(92, 102, 131, 0.4);
  margin-top: 8%;
  border-radius: 10px;
}

.music__musicTitle {
  text-align: center;
  font-weight: bold;
  margin-top: 6%;
  font-size: 150%;
  margin-bottom: 10%;
}

.bold {
  font-weight: bold;
}

.music__caption {
  font-family: "Asap", sans-serif;
}

.music__musicTags--container {
  text-align: center;
  margin-bottom: 16%;
}

.music__musicTitle:hover {
  cursor: pointer;
}