.App {
  height: 100vh;
}

.left {
  background-color: #F7F9FE;
  height: 100vh;
}

.right {
  padding: 0;
}

.app__top-div {
  width: 100%;
  height: 90%;
  padding: 4%;
}

.app__bottom-div {
  border-top: 1px solid #C2C2C2;
  width: 100%;
}
