@import url('https://fonts.googleapis.com/css?family=Asap:400,500,600,700&display=swap');

body {
  margin: 0;
  font-family: "Asap", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bold {
  font-weight: 700;
}
